<!DOCTYPE html>
<html ng-app = "store">
 <head>
     <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> <!-- Specifies the Encoding of the Page -->
     <title>Learn Angular</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
     <script src="https://d3js.org/d3.v4.min.js"></script>
     <link href="style.css" rel="stylesheet">  <!-- Refers to the style sheet file located in thi-->
 </head>
 <body>

     <div ng-controller= "StoreController as store">  <!-- controller name with alias store-->
         <h4> Reviews </h4>

             <li class="list-group-item" ng-repeat="product in store.products">
                 {{product.name}}

                 <!-- -------------------------------- -->
                 <!--Printing the Old Reviews-->
                 <!-- -------------------------------- -->
                 <blockquote ng-repeat="review in product.reviews">
                     <b>Stars: {{review.stars}}</b>
                     {{review.body}}
                     <cite>by: {{review.author}}</cite>
                 </blockquote>

                 <!-- -------------------------------- -->
                 <!--Entering and Printing a new review-->
                 <!-- -------------------------------- -->
                 <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                       ng-submit="reviewCtrl.addReview(product)">
                     <blockquote>
                         <b>Stars: {{reviewCtrl.review.stars}}</b>
                         {{reviewCtrl.review.body}}
                         <cite>by: {{reviewCtrl.review.author}}</cite>
                     </blockquote>
                     <select ng-model="reviewCtrl.review.stars">
                         <option value="1">1 star</option>
                         <option value="2">2 stars</option>
                     </select>
                     <textarea ng-model="reviewCtrl.review.body"></textarea>
                     <label>by:</label>
                     <input name = 'author' ng-model="reviewCtrl.review.author" type="email" />
                     <input type="submit" value="Submit" />
                 </form>

             </li>





     </div>





     <!-- <script src="script.js"> </script> Actually runs the javascript code -->
     <script src="app.js"> </script> <!-- Actually runs the javascript code &ndash;&gt; -->
     <!-- In more complicated examples with more complicated widgets, the html body gets more complex-->

 </body>
</html>