<!DOCTYPE html>
<html ng-app = "input_bar">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> <!-- Specifies the Encoding of the Page -->
    <title>Changing D3 Data</title>
    <script src="ml_summary.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="style.css" rel="stylesheet">  <!-- Refers to the style sheet file located in thi-->
</head>
<body>
<script src="app.js"> </script>
<div ng-controller= "Plotter as Plotter">

    <div class="chart"></div>

    <!-- Accepting User Input -->
    <form name="updateSales"
          ng-controller="Inputer as Inputer"
          ng-submit="Inputer.addInput(Plotter)">

        <textarea ng-model="Inputer.input.product"></textarea>
        <input type="number" ng-model="Inputer.input.count">

        <input type="submit" value="Submit" />
    </form>

</div>
</body>
</html>